<!DOCTYPE html>
<html>
<head>
	<title>Mitt Projekt</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<h1>Test</h1>
  <div>
  	<h2>Här ska vår video visas</h2>
  	<video id="camera-stream">

  	</video>
  	<canvas id="MinCanvas" style="none"></canvas>
  	<a href="#" id= "ta-bild"> <img src="https://pbs.twimg.com/profile_images/671107390670942208/TyT0jcMa.png" alt="Knapp Ta bild!"></a>
  	<img src="" id="visa">

  </div>
  <script src="/javascript/index.js"></script>

</body>
</html>