<!DOCTYPE html>
<html>
<head>
	<title>Mitt Projekt</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<h1>Välkomna till</h1>
  <div class="test">
  	<h2>Helenes Photoboot</h2>
  	<video id="camera-stream">

  	</video>
  	<canvas id="MinCanvas"></canvas>
    <img src="" id="visa">
</div>
    <div class="test">
  	   <a href="#" id= "ta-bild"> <img src="/pictures/Fota.png" alt="Knapp Ta bild!" style="width:40px;height:40px;"= ></a>
  	   
       <a href="" id="spara-bild" download="MinBild.png"><img src="/pictures/save.png" alt="Knapp Spara bild!" style="width:40px;height:40px;"></a>

       <a href="" id="kasta-bild"><img src="/pictures/delete.png" alt="Knapp kasta bild!" style="width:40px;height:40px;"></a>
    
  </div>
  <script src="/javascript/index.js"></script>

</body>
</html>